In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, LongType

In [2]:
spark = SparkSession.builder.appName("Home Loan Approval System").getOrCreate()

In [3]:
application_data_schema = StructType([
    StructField("Customername",StringType(),True),
    StructField("DOB",StringType(),True),
    StructField("UIN",StringType(),True),
    StructField("MailID",StringType(),True),
    StructField("PhoneNumber",LongType(),True),
    StructField("City",StringType(),True),
    StructField("State",StringType(),True),
    StructField("LivingStatus",StringType(),True),
    StructField("PinCode",StringType(),True),
    StructField("LoanAmount",LongType(),True)
])

In [4]:
client_reference_schema = StructType([
    StructField("CustomerName",StringType(),True),
    StructField("DOB",StringType(),True),
    StructField("UIN",StringType(),True),
    StructField("City",StringType(),True),
    StructField("State",StringType(),True),
    StructField("PinCode",LongType(),True),
    StructField("CibilScore",LongType(),True),
    StructField("DefaulterFlag",StringType(),True)
])

In [5]:
application_data_df = spark.read.csv('./HomeLoanApplicationData.csv', schema= application_data_schema)

In [6]:
client_reference_df = spark.read.csv('./ClientReferenceDataset.csv', schema=client_reference_schema)

In [7]:
application_data_df.show(5)

+------------+--------+-------+-----------------+-----------+-----------------+-----------+------------+-------+----------+
|Customername|     DOB|    UIN|           MailID|PhoneNumber|             City|      State|LivingStatus|PinCode|LoanAmount|
+------------+--------+-------+-----------------+-----------+-----------------+-----------+------------+-------+----------+
|    Abhishek|23-08-81|UIN0001|Abhishek@mail.com| 1287655553|        Ahmedabad|    Gujarat|         APL| 380001|     23000|
|        Aman|17-09-84|UIN0002|    Aman@mail.com| 9776543221|           Mumbai|Maharashtra|         BPL| 400001|     22500|
|       Harsh|17-03-83|UIN0003|   Harsh@mail.com| 9987765234|Thiruvananthpuram|     Kerala|         BPL| 695001|     21500|
|       Ayush|22-02-78|UIN0004|   Ayush@mail.com| 4335544553|Thiruvananthpuram|     Kerala|         APL| 695001|     21500|
|       Aditi|21-08-79|UIN0005|   Aditi@mail.com| 8888777722|           Mumbai|Maharashtra|         BPL| 400001|     25500|
+------------+--------+-------+-----------------+-----------+-----------------+-----------+------------+-------+----------+
only showing top 5 rows

In [8]:
client_reference_df.show(5)

+------------+--------+-------+-----------------+-----------+-------+----------+-------------+
|CustomerName|     DOB|    UIN|             City|      State|PinCode|CibilScore|DefaulterFlag|
+------------+--------+-------+-----------------+-----------+-------+----------+-------------+
|    Abhishek|23-08-81|UIN0001|        Ahmedabad|    Gujarat| 380001|       910|            N|
|        Aman|17-09-84|UIN0002|           Mumbai|Maharashtra| 400001|       910|            N|
|       Harsh|17-03-83|UIN0003|Thiruvananthpuram|     Kerala| 695001|       530|            N|
|       Ayush|22-02-78|UIN0004|Thiruvananthpuram|     Kerala| 695001|       530|            N|
|       Aditi|21-08-79|UIN0005|           Mumbai|Maharashtra| 400001|      1300|            Y|
+------------+--------+-------+-----------------+-----------+-------+----------+-------------+
only showing top 5 rows

In [15]:
combined_df = application_data_df.join(other= client_reference_df, on='UIN').drop(client_reference_df.CustomerName).drop(client_reference_df.DOB).drop(client_reference_df.City).drop(client_reference_df.State).drop(client_reference_df.PinCode)

In [16]:
combined_df.show()

+-------+------------+--------+-----------------+-----------+-----------------+-----------+------------+-------+----------+----------+-------------+
|    UIN|Customername|     DOB|           MailID|PhoneNumber|             City|      State|LivingStatus|PinCode|LoanAmount|CibilScore|DefaulterFlag|
+-------+------------+--------+-----------------+-----------+-----------------+-----------+------------+-------+----------+----------+-------------+
|UIN0001|    Abhishek|23-08-81|Abhishek@mail.com| 1287655553|        Ahmedabad|    Gujarat|         APL| 380001|     23000|       910|            N|
|UIN0002|        Aman|17-09-84|    Aman@mail.com| 9776543221|           Mumbai|Maharashtra|         BPL| 400001|     22500|       910|            N|
|UIN0003|       Harsh|17-03-83|   Harsh@mail.com| 9987765234|Thiruvananthpuram|     Kerala|         BPL| 695001|     21500|       530|            N|
|UIN0004|       Ayush|22-02-78|   Ayush@mail.com| 4335544553|Thiruvananthpuram|     Kerala|         APL| 695001|     21500|       530|            N|
|UIN0005|       Aditi|21-08-79|   Aditi@mail.com| 8888777722|           Mumbai|Maharashtra|         BPL| 400001|     25500|      1300|            Y|
|UIN0006|      Anjali|21-06-82|  Anjali@mail.com|  223377882|        Ahmedabad|    Gujarat|         APL| 380001|     21000|       910|            N|
|UIN0007|     Shubham|23-08-86| Shubham@mail.com|44557768443|Thiruvananthpuram|     Kerala|         BPL| 695001|     21000|      3530|            N|
|UIN0008|     Anushka|25-08-82| Anushka@mail.com| 3344990876|Thiruvananthpuram|     Kerala|         APL| 695001|     24500|      1530|            Y|
|UIN0009|       Rohit|23-08-83|   Rohit@mail.com| 3344990876|        Ahmedabad|    Gujarat|         BPL| 380001|     22000|      3530|            N|
|UIN0010|     Saurabh|22-08-83| Saurabh@mail.com| 3344990876|           Mumbai|Maharashtra|         APL| 400001|     20500|      4530|            Y|
|UIN0011|      Muskan|22-07-84|  Muskan@mail.com| 3344990876|           Mumbai|Maharashtra|         APL| 400001|     20500|       370|            N|
|UIN0012|       Rahul|22-08-85|   Rahul@mail.com| 3344990876|           Mumbai|Maharashtra|         APL| 400001|     23500|       370|            N|
|UIN0013|     Utkarsh|22-03-86| Utkarsh@mail.com| 3344990876|        Ahmedabad|    Gujarat|         BPL| 380001|     23000|       370|            N|
|UIN0014|     Vaibhav|22-02-83| Vaibhav@mail.com| 3344990876|Thiruvananthpuram|     Kerala|         APL| 695001|     24500|       370|            N|
|UIN0015|        Amit|28-01-84|    Amit@mail.com| 3344990876|           Mumbai|Maharashtra|         BPL| 400001|     23500|       370|            N|
|UIN0016|      Saumya|22-09-85|  Saumya@mail.com| 3344990876|Thiruvananthpuram|     Kerala|         APL| 695001|     24500|       370|            N|
|UIN0017|     Rishabh|21-10-86| Rishabh@mail.com| 3344990876|        Ahmedabad|    Gujarat|         BPL| 380001|     23000|       370|            N|
|UIN0018|      Shruti|22-08-83|  Shruti@mail.com| 3344990876|           Mumbai|Maharashtra|         APL| 400001|     23000|       370|            N|
|UIN0019|    Himanshu|22-08-84|Himanshu@mail.com| 3344990876|Thiruvananthpuram|     Kerala|         BPL| 695001|     24500|       370|            N|
|UIN0020|       Kajal|22-08-85|   Kajal@mail.com| 3344990876|           Mumbai|Maharashtra|         APL| 400001|     20500|       370|            Y|
+-------+------------+--------+-----------------+-----------+-----------------+-----------+------------+-------+----------+----------+-------------+
only showing top 20 rows

In [17]:
combined_df.createOrReplaceTempView('combined_table')

In [18]:
defaulters = spark.sql("Select * from combined_table where DefaulterFlag = 'Y' ")

In [19]:
defaulters.show()

+-------+------------+--------+-----------------+-----------+-----------------+-----------+------------+-------+----------+----------+-------------+
|    UIN|Customername|     DOB|           MailID|PhoneNumber|             City|      State|LivingStatus|PinCode|LoanAmount|CibilScore|DefaulterFlag|
+-------+------------+--------+-----------------+-----------+-----------------+-----------+------------+-------+----------+----------+-------------+
|UIN0005|       Aditi|21-08-79|   Aditi@mail.com| 8888777722|           Mumbai|Maharashtra|         BPL| 400001|     25500|      1300|            Y|
|UIN0008|     Anushka|25-08-82| Anushka@mail.com| 3344990876|Thiruvananthpuram|     Kerala|         APL| 695001|     24500|      1530|            Y|
|UIN0010|     Saurabh|22-08-83| Saurabh@mail.com| 3344990876|           Mumbai|Maharashtra|         APL| 400001|     20500|      4530|            Y|
|UIN0020|       Kajal|22-08-85|   Kajal@mail.com| 3344990876|           Mumbai|Maharashtra|         APL| 400001|     20500|       370|            Y|
|UIN0023|      Nikhil|22-08-81|  Nikhil@mail.com| 3344990876|        Ahmedabad|    Gujarat|         BPL| 380001|     23000|       370|            Y|
|UIN0026|       Priya|22-08-87|   Priya@mail.com| 3344990876|           Mumbai|Maharashtra|         APL| 400001|     21500|       370|            Y|
|UIN0028|    Shashank|22-09-87|Shashank@mail.com| 3344990876|Thiruvananthpuram|     Kerala|         APL| 695001|     22000|       370|            Y|
|UIN0035|       Vivek|21-08-79|   Vivek@mail.com| 8888777722|           Mumbai|Maharashtra|         BPL| 400001|     25500|      1300|            Y|
|UIN0038|      Aditya|25-08-82|  Aditya@mail.com| 3344990876|Thiruvananthpuram|     Kerala|         APL| 695001|     24500|      1530|            Y|
|UIN0040|      Ayushi|22-08-83|  Ayushi@mail.com| 3344990876|           Mumbai|Maharashtra|         APL| 400001|     20500|      4530|            Y|
|UIN0050|    Ashutosh|22-08-85|Ashutosh@mail.com| 3344990876|           Mumbai|Maharashtra|         APL| 400001|     20500|       370|            Y|
|UIN0053|      Piyush|22-08-81|  Piyush@mail.com| 3344990876|        Ahmedabad|    Gujarat|         BPL| 380001|     23000|       370|            Y|
|UIN0056|    Akanksha|22-08-87|Akanksha@mail.com| 3344990876|           Mumbai|Maharashtra|         APL| 400001|     21500|       370|            Y|
|UIN0058|      Ritika|22-09-87|  Ritika@mail.com| 3344990876|Thiruvananthpuram|     Kerala|         APL| 695001|     22000|       370|            Y|
+-------+------------+--------+-----------------+-----------+-----------------+-----------+------------+-------+----------+----------+-------------+

In [20]:
bpl = spark.sql("Select count(UIN) from combined_table where LivingStatus = 'BPL'")

In [21]:
bpl.show()

+----------+
|count(UIN)|
+----------+
|        28|
+----------+

In [22]:
apl = spark.sql("Select count(UIN) from combined_table where LivingStatus = 'APL'")

In [23]:
apl.show()

+----------+
|count(UIN)|
+----------+
|        32|
+----------+

In [29]:
status = spark.sql("select *, IF(DefaulterFlag == 'N' AND CibilScore > 800, 'Approved', 'Rejected') AS Status from combined_table")

In [30]:
status.show()

+-------+------------+--------+-----------------+-----------+-----------------+-----------+------------+-------+----------+----------+-------------+--------+
|    UIN|Customername|     DOB|           MailID|PhoneNumber|             City|      State|LivingStatus|PinCode|LoanAmount|CibilScore|DefaulterFlag|  Status|
+-------+------------+--------+-----------------+-----------+-----------------+-----------+------------+-------+----------+----------+-------------+--------+
|UIN0001|    Abhishek|23-08-81|Abhishek@mail.com| 1287655553|        Ahmedabad|    Gujarat|         APL| 380001|     23000|       910|            N|Approved|
|UIN0002|        Aman|17-09-84|    Aman@mail.com| 9776543221|           Mumbai|Maharashtra|         BPL| 400001|     22500|       910|            N|Approved|
|UIN0003|       Harsh|17-03-83|   Harsh@mail.com| 9987765234|Thiruvananthpuram|     Kerala|         BPL| 695001|     21500|       530|            N|Rejected|
|UIN0004|       Ayush|22-02-78|   Ayush@mail.com| 4335544553|Thiruvananthpuram|     Kerala|         APL| 695001|     21500|       530|            N|Rejected|
|UIN0005|       Aditi|21-08-79|   Aditi@mail.com| 8888777722|           Mumbai|Maharashtra|         BPL| 400001|     25500|      1300|            Y|Rejected|
|UIN0006|      Anjali|21-06-82|  Anjali@mail.com|  223377882|        Ahmedabad|    Gujarat|         APL| 380001|     21000|       910|            N|Approved|
|UIN0007|     Shubham|23-08-86| Shubham@mail.com|44557768443|Thiruvananthpuram|     Kerala|         BPL| 695001|     21000|      3530|            N|Approved|
|UIN0008|     Anushka|25-08-82| Anushka@mail.com| 3344990876|Thiruvananthpuram|     Kerala|         APL| 695001|     24500|      1530|            Y|Rejected|
|UIN0009|       Rohit|23-08-83|   Rohit@mail.com| 3344990876|        Ahmedabad|    Gujarat|         BPL| 380001|     22000|      3530|            N|Approved|
|UIN0010|     Saurabh|22-08-83| Saurabh@mail.com| 3344990876|           Mumbai|Maharashtra|         APL| 400001|     20500|      4530|            Y|Rejected|
|UIN0011|      Muskan|22-07-84|  Muskan@mail.com| 3344990876|           Mumbai|Maharashtra|         APL| 400001|     20500|       370|            N|Rejected|
|UIN0012|       Rahul|22-08-85|   Rahul@mail.com| 3344990876|           Mumbai|Maharashtra|         APL| 400001|     23500|       370|            N|Rejected|
|UIN0013|     Utkarsh|22-03-86| Utkarsh@mail.com| 3344990876|        Ahmedabad|    Gujarat|         BPL| 380001|     23000|       370|            N|Rejected|
|UIN0014|     Vaibhav|22-02-83| Vaibhav@mail.com| 3344990876|Thiruvananthpuram|     Kerala|         APL| 695001|     24500|       370|            N|Rejected|
|UIN0015|        Amit|28-01-84|    Amit@mail.com| 3344990876|           Mumbai|Maharashtra|         BPL| 400001|     23500|       370|            N|Rejected|
|UIN0016|      Saumya|22-09-85|  Saumya@mail.com| 3344990876|Thiruvananthpuram|     Kerala|         APL| 695001|     24500|       370|            N|Rejected|
|UIN0017|     Rishabh|21-10-86| Rishabh@mail.com| 3344990876|        Ahmedabad|    Gujarat|         BPL| 380001|     23000|       370|            N|Rejected|
|UIN0018|      Shruti|22-08-83|  Shruti@mail.com| 3344990876|           Mumbai|Maharashtra|         APL| 400001|     23000|       370|            N|Rejected|
|UIN0019|    Himanshu|22-08-84|Himanshu@mail.com| 3344990876|Thiruvananthpuram|     Kerala|         BPL| 695001|     24500|       370|            N|Rejected|
|UIN0020|       Kajal|22-08-85|   Kajal@mail.com| 3344990876|           Mumbai|Maharashtra|         APL| 400001|     20500|       370|            Y|Rejected|
+-------+------------+--------+-----------------+-----------+-----------------+-----------+------------+-------+----------+----------+-------------+--------+
only showing top 20 rows

In [37]:
eligible = spark.sql("select * from combined_table where LivingStatus = 'BPL' AND DefaulterFlag = 'N' AND CibilScore > 800 ")

In [38]:
eligible.show()

+-------+------------+--------+----------------+-----------+-----------------+-----------+------------+-------+----------+----------+-------------+
|    UIN|Customername|     DOB|          MailID|PhoneNumber|             City|      State|LivingStatus|PinCode|LoanAmount|CibilScore|DefaulterFlag|
+-------+------------+--------+----------------+-----------+-----------------+-----------+------------+-------+----------+----------+-------------+
|UIN0002|        Aman|17-09-84|   Aman@mail.com| 9776543221|           Mumbai|Maharashtra|         BPL| 400001|     22500|       910|            N|
|UIN0007|     Shubham|23-08-86|Shubham@mail.com|44557768443|Thiruvananthpuram|     Kerala|         BPL| 695001|     21000|      3530|            N|
|UIN0009|       Rohit|23-08-83|  Rohit@mail.com| 3344990876|        Ahmedabad|    Gujarat|         BPL| 380001|     22000|      3530|            N|
|UIN0032|      Shreya|17-09-84| Shreya@mail.com| 9776543221|           Mumbai|Maharashtra|         BPL| 400001|     22500|       910|            N|
|UIN0037|      Vishal|23-08-86| Vishal@mail.com|44557768443|Thiruvananthpuram|     Kerala|         BPL| 695001|     21000|      3530|            N|
|UIN0039|       Nidhi|23-08-83|  Nidhi@mail.com| 3344990876|        Ahmedabad|    Gujarat|         BPL| 380001|     22000|      3530|            N|
+-------+------------+--------+----------------+-----------+-----------------+-----------+------------+-------+----------+----------+-------------+